/* @import url(./__);
elements */
@import url(./__info-wrapper/header__info-wrapper.css);
@import url(./__description/header__description.css);
@import url(./__form-field-error/header__form-field-error.css);

/*form*/
@import url(./__form/header__form.css);
@import url(./__form-input/header__form-input.css);
@import url(./__form-button/header__form-button.css);

/*button*/
@import url(./__button/header__button.css);

/* element mods */
@import url(./__form-button/_type_submit/header__form-button_type_submit.css);
@import url(./__form-button/_type_reset/header__form-button_type_reset.css);
@import url(./__form-button/_type_delete/header__form-button_type_delete.css);
@import url(./__button/header__button_type_expand.css);
@import url(./__form-field-error/_active/header__form-field-error_active.css);
@import url(./__form-input/_error/header__form-input-error.css);

.header {
  display: flex;
  width: 90%;
  border: 3px solid #0077B6;
  border-radius: 10px;
  flex-wrap: nowrap;
  margin: auto;
  justify-content: space-between;
}
