.root {
    font-family: "Helvetica", Arial, sans-serif;
    background-color: #DDD5D0;
    color: #2F2F2F; /*text color*/
    /* accent: #0077B6 */
}

/* colors for page: https://coolors.co/2f2f2f-0077b6-ddd5d0 */
