.list-item__title {
  font-size: 24px;
  line-height: 1.7;
  font-weight: 700;
  margin: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 20%;
  border-right: 1px solid #0077B6;
  border-radius: 5px;
  align-self: center;
}
