/* @import url(./); */

@import url(./__title/list-item__title.css);
@import url(./__description/list-item__description.css);
@import url(./__checkbox-holder/list-item__checkbox-holder.css);
@import url(./__star/list-item__star.css);

@import url(./__star/_clicked/list-item__star_clicked.css);

.list-item {
  display: flex;
  background-color: #EAE5E2;
  flex-wrap: nowrap;
  width: 80%;
  height: 55px;
  border-radius: 22px;
  margin: 40px auto;
  box-shadow: 4px 4px 18px 2px rgb(80 80 80 / 40%);
}

.list-item:last-of-type {
  margin-bottom: 0px;
}
