/* @import url(./); */

@import url(./__title/list-item__title.css);
@import url(./__description/list-item__description.css);
@import url(./__checkbox-holder/list-item__checkbox-holder.css);
@import url(./__star/list-item__star.css);

@import url(./__star/_clicked/list-item__star_clicked.css);


.list-item {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  border: #0077B6 solid 1px;
  border-radius: 5px;
  margin: 26px auto;
  box-shadow: 2px 4px 8px 1px rgba(80,80,80, 0.5);
}
